<!DOCTYPE html>
<html>
<head>
    <title>Select Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div style="text-align:center; margin-top:120px;">
    <h1>Select Report</h1>

    <a href="/agent">
        <button style="padding:15px 30px; margin:20px;">
            Agent Performance Report
        </button>
    </a>

    <a href="/firstlogin">
        <button style="padding:15px 30px; margin:20px;">
            First Login Report
        </button>
    </a>
</div>

</body>
</html>
